nextflow.enable.dsl=2

params {
    samplesheet        = null
    fastq_dir          = null
    outdir             = null
    ref_dir            = null
    igg_bam            = null
    blacklist_bed      = null
    chrom_sizes        = null
    trimmomatic_adapters = null
}

profiles {
    standard {
        process.executor = 'local'
        docker.enabled   = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.cpus     = 4
        process.memory   = '16 GB'
    }
    slurm {
        process.executor   = 'slurm'
        process.queue      = 'parolia'
        process.clusterOptions = '--account=parolia'
        docker.enabled     = true
        docker.runOptions  = '-u $(id -u):$(id -g)'
    }
}

process {
    withLabel: 'process_low' {
        cpus   = 2
        memory = '8 GB'
        time   = '4h'
    }
    withLabel: 'process_medium' {
        cpus   = 8
        memory = '32 GB'
        time   = '12h'
    }
    withLabel: 'process_high' {
        cpus   = 12
        memory = '48 GB'
        time   = '24h'
    }
    withLabel: 'process_high_memory' {
        cpus   = 4
        memory = '64 GB'
        time   = '24h'
    }

    // Mount the reference directory as /data2 for tools that use hardcoded paths
    withName: 'BWA_ALIGN' {
        containerOptions = { "-v ${params.ref_dir}:/data2" }
    }
    withName: 'WIGTOBIGWIG' {
        containerOptions = { "-v ${params.ref_dir}:/data2" }
    }
}
